<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="" allowCookies="true" crossDomainScriptAccessEnabled="true" >
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>

    <protocolMapping>
      <remove scheme="http" />
      <add scheme="http" binding="webHttpBinding" />
    </protocolMapping>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <routing filterTableName="WCFRoutingTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="System.ServiceModel.Routing.RoutingService">
        <endpoint address="WCFRoutingService" binding="wsHttpBinding"
          name="routerHttp" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint address="WCFRoutingService" binding="netTcpBinding"
          name="routerTCP" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint address="WCFRoutingServiceREST"
          binding="webHttpBinding" bindingConfiguration="" name="routerREST"
          contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:38765/" />
            <add baseAddress="net.tcp://localhost:38766/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <client>
      <endpoint address="http://localhost:38767/Service2.svc" binding="wsHttpBinding"
        contract="*" name="httpService2" />
      <endpoint address="http://localhost:38767/Service3.svc" binding="wsHttpBinding"
        contract="*" name="httpService3" />
      <endpoint address="net.tcp://localhost:38768/Service2.svc" binding="netTcpBinding"
        contract="*" name="tcpService2" />
      <endpoint address="net.tcp://localhost:38768/Service3.svc" binding="netTcpBinding"
        contract="*" name="tcpService3" />
      <endpoint address="http://localhost:38767/Service5.svc" binding="webHttpBinding"
        bindingConfiguration="" contract="*" name="restService1" />
    </client>

    <routing>
      <filters>
        <filter name="httpService2" filterType="EndpointAddress" filterData="http://localhost:38767/Service2.svc" />
        <filter name="httpService3" filterType="EndpointAddress" filterData="http://localhost:38767/Service3.svc" />
        <filter name="tcpService2" filterType="EndpointAddress" filterData="net.tcp://localhost:38768/Service2.svc" />
        <filter name="tcpService3" filterType="EndpointAddress" filterData="net.tcp://localhost:38768/Service3.svc" />
        <filter name="restService1" filterType="EndpointName" filterData="routerREST" />
        <filter name="MyMatch" filterType="Custom" customType="Wcf.Extension.Routing.CustomFilter,Wcf.Extension" />
      </filters>
      <filterTables>
        <filterTable name="WCFRoutingTable">
          <add filterName="MyMatch" endpointName="httpService2" />
          <add filterName="httpService2" endpointName="httpService2" />
          <add filterName="httpService3" endpointName="httpService3" />
          <add filterName="tcpService2" endpointName="tcpService2" />
          <add filterName="tcpService3" endpointName="tcpService3" />
          <add filterName="restService1" endpointName="restService1" />
        </filterTable>
      </filterTables>
    </routing>
  </system.serviceModel>
</configuration>